e{
    /* color: */
    /* width: */
    /* height: ; */
    /* line-height: ; */
    /* font-size: ; */
    /* font-family: ; */
    /* margin: auto 24px; */
    /* margin-bottom: ; */

}

img{
    filter: sepia(10);
    width: 500px;
    height:300px;

}
p{
    margin-bottom: 36px;
    font-size: medium;
}

blockquote{
    border-left: 4px solid grey;
    padding-left: 16px;
    margin-left: 0;
    background-color: #eef0f3

}

.Main{
    margin: 60px auto;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}